#windows
Thumbs.db
ehthumbs.db
Desktop.ini
desktop.ini

#Mac
.DS_Store
/service/.DS_Store
/contract/.DS_Store

#java
*.class
*.jar
*.war
/target/
/service/target/
/contract/target/
/contract/.classpath
/contract/.project
/contract/.settings/
/contract/bin/
/service/.classpath
/service/.project
/service/.settings/
/service/bin/

#linux
*.tar
*.tar.gz

#common
*.rar
*.zip
*.txt
*.log

#idea
/.idea/
/service/.idea/
/contract/.idea/
*.iml
/service/*.iml
/contract/*.iml
